[submodule "scijourdex-backend"]
	path = scijourdex-backend
	url = git@github.com:kosiyyu/scijourdex-backend.git
[submodule "scijourdex-frontend"]
	path = scijourdex-frontend
	url = git@github.com:kosiyyu/scijourdex-frontend.git
