[submodule "scijourdex-backend"]
    path = scijourdex-backend
    url = https://github.com/kosiyyu/scijourdex-backend.git
[submodule "scijourdex-frontend"]
    path = scijourdex-frontend
    url = https://github.com/kosiyyu/scijourdex-frontend.git
[submodule "webscraper"]
    path = webscraper
    url = https://github.com/kosiyyu/webscraper.git